---
const newPosts = await Astro.glob('../../pages/posts/*.{md,mdx}');
---

<section class='container-new-posts'>
	<h2 class='container-new-posts__title'>News</h2>
	<div>
		{
			newPosts.map(post => {
				if (!post.frontmatter.new) return;
				return <div>{post.frontmatter.title}</div>;
			})
		}
	</div>
</section>

<style>
	.container-new-posts {
		margin: 4rem 0;
	}

	.container-new-posts__title {
		font-family: 'Raleway-bold';
		font-weight: bold;
		font-size: 96px;
		color: var(--primary--color);
	}
</style>
