@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
	TODO change the font to Roboto 
 */
.main-post {
	max-width: 60%;
	margin: 0rem auto;
	position: relative;
	z-index: 99;
	background-color: var(--bg--color);
	/* font-family: 'Roboto-medium'; */
	font-family: 'Roboto', sans-serif;
}
.post-pre {
	padding: 1rem 1.5rem;
	margin: 0;
	background-color: var(--gray--color);
	border-radius: 0 0 1rem 1rem;
	font-family: 'Lilex';
	font-weight: bold;
}
.post-pre > code {
	font-family: 'Lilex';
}
.post-container > h2 {
	font-family: 'Raleway-bold';
	font-weight: bold;
	color: var(--effect--color);
	border-bottom: 1px solid var(--effect--color);
	padding-bottom: 0.5rem;
}
.post-container > h3 {
	font-family: 'Raleway-bold';
	font-weight: bold;
	color: var(--effect--color);
	border-bottom: 1px solid var(--effect--color);
	padding-bottom: 0.5rem;
}

.post-container > blockquote {
	font-family: 'Roboto-medium';
	/* background-color: var(--gray--color); */
	background: linear-gradient(360deg, var(--bg--color), var(--gray--color));
	padding: 0.5rem 1rem;
	padding-bottom: 1rem;
	border-radius: 1rem;
	margin: 0;
}

.post-strong {
	font-family: 'Lilex';
	font-weight: bolder;
	font-size: 1.1rem;
	color: var(--primary--color);
}
.post-link {
	text-decoration: none;
	color: var(--effect--color);
}

pre::-webkit-scrollbar {
	-webkit-appearance: none;
	background-color: var(--gray--color);
	border-radius: 1rem;
}

pre::-webkit-scrollbar:vertical {
	width: 10px;
}
pre::-webkit-scrollbar:horizontal {
	height: 2px;
}

pre::-webkit-scrollbar-button:increment,
pre::-webkit-scrollbar-button {
	display: none;
}

pre::-webkit-scrollbar:horizontal {
	height: 5px;
}

pre::-webkit-scrollbar-thumb {
	background-color: var(--primary--color);
	border-radius: 20px;
}

pre::-webkit-scrollbar-track {
	border-radius: 10px;
}
