---
import BaseHead from '../components/BaseHead.astro';

import { TitleBlog } from '../components/Title.component';
import NewPosts from 'layouts/newPosts/index.astro';

const title = 'Dblog';
const description =
	'Este es un Blog en el cual podras descubrir las novedades del mundo y del entorno web. Tambien podras encotrar tutoriales de : React - Astro - Lit - Go - Phyton - TS - Arquitectura - conceptos web - programacion basica - POO - test ';
---

<!DOCTYPE html>
<html lang='es'>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<TitleBlog client:visible />
		<NewPosts />
	</body>
</html>
