---
---

<nav class='nav-dblog'>
	<div class='container-header'>
		<a href='/'>
			<img src='/logo.svg' alt='dblog' />
		</a>
		<!-- <a href='/posts'>
			<span class='nav-dblog__title'>Posts</span>
		</a>
		<a href='/watch-latter'>
			<span class='nav-dblog__title'> Watch later</span>
		</a> -->
	</div>
	<div class='container-socials'>
		<a href='https://twitter.com/iamdavidev_' target='_blank'>
			<img src='/twitter.svg' alt='home' />
		</a>
		<a href='https://github.com/iamdavidev' target='_blank'>
			<img src='/github.svg' alt='home' />
		</a>
		<a href='https://www.linkedin.com/in/iamdavidev/' target='_blank'>
			<img src='/linkedin.svg' alt='home' />
		</a>
	</div>
</nav>

<style>
	.nav-dblog {
		padding: 0 4rem;
		margin-bottom: 4rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
	}

	.container-header {
		display: flex;
		gap: 3rem;
		font-size: 1.5rem;
		flex-direction: row;
		align-items: center;
	}
	.container-header > a {
		text-decoration: none;
		font-weight: bold;
		color: #fff;
	}

	.container-header > a > img {
		width: 60px;
		height: 60px;
	}

	.container-socials {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}
	.container-socials > a > img {
		width: 32px;
		height: 32px;
	}
</style>
