---
import type { Langs } from '~/interfaces/langs.enum';
import BaseHead from './BaseHead.astro';
import Footer from './Footer.astro';
import Navbar from './Navbar.astro';
import { Snow } from '@components/Snow';

interface Props {
	title: string;
	description: string;
	lang: Langs;
}

const { description, title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.container-blog {
				position: relative;
				z-index: 3;
				min-height: 100vh;
				box-sizing: border-box;
				padding: 3rem;
			}
		</style>
		<script
			defer
			data-domain='dblog-app.vercel.app'
			src='https://plausible.io/js/script.js'></script>
	</head>
	<body>
		<div class='container-blog'>
			<Navbar />
			<slot />
		</div>
	</body>
</html>
