---
const { lang } = Astro.props;
---

<div class='pre-custom'>
	<header class='header-custom'>
		<div class='points'>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class='lang'>
			{lang}
		</div>
	</header>
	<slot />
</div>
<style>
	.pre-custom {
		margin: 1rem 0;
	}
	.header-custom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background: #0d1117;
		height: 2rem;
		border-radius: 1rem 1rem 0 0;
		padding: 0.5rem 1rem;
		gap: 1rem;
	}
	.points {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		gap: 0.5rem;
	}
	.header-custom > .points > div {
		width: 0.8rem;
		height: 0.8rem;
		border-radius: 1rem;
	}
	.header-custom > .points div:nth-child(1) {
		background: #e36209;
	}
	.header-custom > .points > div:nth-child(2) {
		background: #d73a49;
	}
	.header-custom > .points > div:nth-child(3) {
		background: #6f42c1;
	}
	.lang {
		color: var(--red--color);
		font-size: 1rem;
		opacity: 0.75;
		font-weight: bold;
		border: 1px solid var(--red--color);
		padding: 0.3rem 0.5rem;
		border-radius: 0.3rem;
	}
</style>
