---
const { title } = Astro.props;
---

<div class='post-container'>
	<slot />
</div>
<script defer>
	const allLinks = document.querySelectorAll('.post-container a');
	allLinks.forEach(link => {
		link.setAttribute('target', '_blank');
	});
</script>

<style>
	.post-container {
		display: inline;
	}
	.post-container > p {
		color: red;
	}
	.post-container > pre {
		margin: 0;
	}
	.post-container > p > strong {
		color: var(--primary-colo-r);
	}
</style>
